* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 70px;
  width: 100%;
  background-color: royalblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: 900;
}

.nav-links > a {
  margin: 0 10px;
  display: inline-block;
  transition: 0.2s;
}

.nav-links > a:hover {
  transform: scale(1.2);
}
